.container {
    max-width: 1200px;
    margin: 1rem auto;
}

.navigator {
    .list {
        padding-left: 0;
    }
}

code {
    font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
    background-color: var(--code-bg-colour);
    color: var(--code-text-colour);
    border-radius: 3px;
    padding: 3px;
}

p, article p {
    line-height: 24px;
}

.click-icon { cursor: pointer; }

.badges {
    list-style: none;
    display: flex;
    .item {
        margin-right: 0.45rem;
        padding: 0.45rem;
        border-radius: 50rem;
        background-color: var( --default-badge-bg-colour );
    }
}

/* Colour scheme */
@media (prefers-color-scheme: light)
{
    code {
        --code-text-colour: #000000;
        --code-bg-colour: #f5f2f0;
    }
    .badges {
        .item {
            --default-badge-bg-colour: rgba( 108, 117, 125, 1 );
        }
    }
}
@media (prefers-color-scheme: dark)
{
    code {
        --code-text-colour: #000000;
        --code-bg-colour: #f5f2f0;
    }
    .badges {
        .item {
            --default-badge-bg-colour: rgba( 108, 117, 125, 1 );
        }
    }
}

@media (max-width: 1199px) {
    article, .article, footer, .footer {
        padding: 0 1rem;
    }
    article img, .article img {
        max-width: 100%;
    }
}
