/* Container part */
.container
{
    &.narrow
    {
        padding: 2.0rem;
        position: relative;
        width: 100%;
    }
    &.centre
    {
        --container-bg-colour: rgba(250, 250, 250, 1);
        border-radius: 0.5rem;
        background-color: var(--container-bg-colour);
    }
}


/* Button part */
.button
{
    margin: 0.2rem;
    padding: 0.5rem;
	/* font-size: 1.9rem; */
    display: inline-flex;
    text-decoration: none;
    border: 1px solid #383b40;
    border-radius: 0.2rem;
    &:hover
    {
        background-color: #383b40;
    }
}
/* Modal part */
.modal
{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Modal: text and block */
.modal
{
    overflow-y: scroll;
}
.show.modal
{
    display: block;
}

/* Modal: Colour */
.modal
{
    background-color: rgba(250, 250, 250, 0.4);
    .centre.container
    {
        --container-bg-colour: var(--bg-colour);
    }
}

/* Modal: Close button */
.modal .close
{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: #CF002d;
    box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3rem 0.3rem,
        inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3rem,
        #fa00af 0 0.1em 0.1rem,
        #610043 0 0.1em 0.05rem
    ;
    &:active
    {
        background-color: #9F002d;
        box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3rem 0.3rem, inset rgba(0, 0, 0, 0.15) 0 -0.1rem 0.3rem;
    }
}

a:hover
{
    color: var(--hover-link-colour);
}
