/* https://www.joshwcomeau.com/css/full-bleed/ */
.container {
    display: grid;
    grid-template-columns: 1fr min(1200px, 100%) 1fr;
}
.container > * {
    grid-column: 2;
}

.navigator {
    .list {
        padding-left: 0;
    }
}

code {
    font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
    background-color: var(--code-bg-colour);
    color: var(--code-text-colour);
    border-radius: 3px;
    padding: 3px;
}

p, article p {
    line-height: 24px;
}

.click-icon {
    cursor: pointer;
}

.badges {
    list-style: none;
    display: flex;
    .item {
        margin-right: 0.45rem;
        padding: 0.45rem;
        border-radius: 50rem;
        background-color: var( --default-badge-bg-colour );
    }
}

/* Modal module */

/* Modal: Basic layout */
.nf-modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Modal: text and block */
.nf-modal {
    overflow-y: scroll;
}
.nf-modal.show {
    display: block;
}

/* Modal: Colour */
.nf-modal {
    background-color: rgba(250, 250, 250, 0.4);
    .centre.container {
        --container-bg-colour: var(--bg-colour);
    }
}

/* Modal: Close button */
.nf-modal .close {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: #CF002d;
    box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3rem 0.3rem,
        inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3rem,
        #fa00af 0 0.1em 0.1rem,
        #610043 0 0.1em 0.05rem
    ;
    &:active {
        background-color: #9F002d;
        box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3rem 0.3rem, inset rgba(0, 0, 0, 0.15) 0 -0.1rem 0.3rem;
    }
}

/* Colour scheme */
@media (prefers-color-scheme: light) {
    code {
        --code-text-colour: #000000;
        --code-bg-colour: #f5f2f0;
    }
    .badges {
        .item {
            --default-badge-bg-colour: rgba( 108, 117, 125, 1 );
        }
    }
}
@media (prefers-color-scheme: dark) {
    code {
        --code-text-colour: #000000;
        --code-bg-colour: #f5f2f0;
    }
    .badges {
        .item {
            --default-badge-bg-colour: rgba( 108, 117, 125, 1 );
        }
    }
}

/* Image and its RWD service */
article img, .article img {
    max-width: 1200px;
}

@media (max-width: 1199px) {
    article, .article, footer, .footer {
        padding: 0 1rem;
    }
    article img, .article img {
        max-width: 100%;
    }
}
